html body {
  background: #333 url(body_bg.png) repeat-x top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
  padding: 0;
  border: none;
  font-weight: bold;
}
h1 {
  font-size: 120%;
}
h2 {
  font-size: 115%;
}
h3 {
  font-size: 110%;
}
h4 {
  font-size: 105%;
}
h5 {
  font-size: 102%;
}
h6 {
  font-size: 100%;
}

code {
  font-size: 140%;
}
i, em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
}
a:hover {
  text-decoration: underline;
}

.pathbar {
  height: 40px;
  overflow: hidden;
  color: #fff;
  padding: 0 15px;
}
.pathbar a {
  color: #fff;
}
.pathbar a.normal {
  display: none;
}
.pathbar a.breadcrumb {
  font-size: 130%;
  line-height: 45px;
}
.pathbar a.breadcrumb-last {
  font-size: 140%;
  font-weight: bold;
}
.pathbar a.manage {
  display: inline-block;
  width: 14px;
  height: 14px;
  text-indent: -999em;
  margin-left: 3px;
  vertical-align: baseline;
  background-image: url(manage.png);
  background-repeat: no-repeat;
  background-position: top;
}
.pathbar a.manage:hover {
  background-position: 0 -16px;
}
.pathbar a.idea {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-indent: -999em;
  margin-top: 13px;
/*background-image: url(info.png);
  background-repeat: no-repeat;
  background-position: center top;
*/
}
.pathbar a.idea:hover {
  background-position: 0 -16px;
}

.tabs {
  padding: 0 15px;
  height: 30px;
}
.tabs a:hover {
  text-decoration: none;
}
.tabs a.transportlet {
  display: inline-block;
  margin-top: 4px;
  padding: 3px 8px;
  background-color: #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-weight: bold;
  color: #333;
}
.tabs a.transportlet:hover {
  background-color: #fff;
  text-decoration: none;
}

.tabs a.tab {
  display: block;
  float: left;
  background-color: #777;
  margin-right: 15px;
  margin-top: 4px;
  padding: 0 20px;
  line-height: 26px;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  font-weight: bold;
  color: #eee;
}

.tabs a.tab:hover {
  background-color: #666;
  color: #fff;
}

.tabs a.tab.selected, .tabs a.tab.recede {
  background: #fff;
  color: #000;
  margin-top: 0;
  height: 30px;
  line-height: 30px;
}


.workspace {
  background: #fff url(workspace_bg.png);
  color: #222;
}

.middleground {
  height: 30px;
  background: #d9d9d9 url(middleground_bg.png) repeat-x top;
  border-bottom: 1px #999 solid;
}
.middleground .transporter {
  float: left;
  padding: 0.3em 15px;
}
.middleground .transporter a {
  display: inline-block;
  padding: 0 10px;
  line-height: 18px;
  border: 1px #777 solid;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.middleground .transporter a:hover {
  background-color: #f9f9f9;
  border-color: #333;
  text-decoration: none;
}
.middleground .transporter a.selected {
  background-color: #333;
  border-color: #222;
  color: #fff;
}
.middleground .executor {
  float: right;
  padding: 0.3em 15px;
}
.middleground form.middleground-form {
  display: inline;
}

#footerarea{
  background: #fff url(workspace_bg.png);
  background-color: inherit;
}
.footer {
  clear: both;
  height: 30px;
  line-height: 30px;
  background: #d9d9d9 url(middleground_bg.png) repeat-x top;
  border-top: 1px #999 solid;
  padding: 0 15px;
}
.personalbar {
  background: #333;
  padding: 5px 15px 10px;
}
.personalbar a {
  text-decoration: none;
}
.personalbar div a {
  display: inline-block;
  background-color: #777;
  padding: 3px 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.personalbar div a:hover {
  background-color: #fff;
}

#remote-form-dialog {
  display: none;
}
#remote-request-loading {
  display: none;
  position: fixed;
  top: 0px;
  right: 50%;
  color: black;
  padding: 0.1em 1.5em;
  border-left: 1px solid #0E7F2A;
  border-right: 1px solid #0E7F2A;
  border-bottom: 1px solid #0E7F2A;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #D8EED5;
  z-index: 200000;
}

/* _______________________________ columns table _______ */

table th, table td {
  vertical-align: top;
}

table.columns {
  width: 100%;
}

/* 3 column table (default) */
table.columns td.left {
  width: 20%;
  padding: 0 0 0 10px;
}
table.columns td.main {
  width: 60%;
  padding: 0 10px 0 0;
}
table.columns td.right {
  width: 20%;
  padding: 0 10px 0 0;
}

/* 2 column table */
table.columns2 td.left {
  width: 20%;
  padding: 0 0 0 10px;
}
table.columns2 td.main {
  width: 80%;
  padding: 0 10px 0 0;
}

/* 1 column */
table.columns1 td.main {
  width: 100%;
  padding: 0 10px 0 10px;
}

/* _______________________________ listing table _______ */

table.listing {
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-collapse: separate;
  background-color: #fff;
}

table.listing img {
  vertical-align: middle;
}

/* ______________ rows ______________ */

table.listing td.top, table.listing th.top {
  padding: 3px 5px;
  background: #eee url(gradient25.png) repeat-x;
  border-bottom: 1px solid #ccc;
}

table.listing tr.top-controls td {
  padding: 0.2em 0.3em 0.1em;
  border-bottom: 1px solid #ccc;
}

table.listing tr.top-controls h3 {
  margin: 0;
  padding: 0;
}

table.listing tr.inter-controls td {
  padding: 0 0.2em;
}

table.listing tr.controls td {
  padding: 0.3em 0.2em 0.2em;
  border-top: 1px solid #ededed;
}

table.listing tr.divider td, table.listing td.divider {
  padding: 0;
  border-top: 1px solid #aaa;
}

table.listing tr.separator td, table.listing td.separator {
  height: 1px;
  padding: 0;
  border-top: 1px solid #aaa;
}

/* ______________ cells ______________ */
table.listing td {
  padding: 0.2em 0.3em;
}

table.listing td.top h2 {
  margin: 0;
  color: black;
  font-weight: normal;
}

table.listing td.top img {
  display: none;
}

table.listing th {
  padding: 0.2em 0.35em;
  background: url(gradient25.png) repeat-x;
  text-align: left;
  border-top: none;
  color: #555;
  font-weight: normal;
  white-space: nowrap;
}

table.listing th.listing-left, table.listing td.listing-left {
  width: 2%;
  text-align: left;
  white-space: nowrap;
}

table.listing th.listing-right, table.listing td.listing-right {
  width: 7%;
  text-align: right;
  white-space: nowrap;
}

table.listing th.align-left, table.listing td.align-left {
  text-align: left;
}
table.listing th.align-center, table.listing td.align-center {
  text-align: center;
}
table.listing th.align-right, table.listing td.align-right {
  text-align: right;
}

/* cycle text color in listing rows */
table.listing tr.odd td {
  background-color: #fdfdfd;
}
table.listing tr.even td {
  background-color: #f7f7f7;
}
table.listing tr.odd:hover td, table.listing tr.even:hover td {
}

table.listing tr.inter-controls h3 {
  margin: 0;
  padding: 0;
}

/*
* some usability selectors:
* create a displayed block of the links, because then you can click on
* the whole tablecell and don't have to focus the text
*/
table.listing tbody a {
  display: block;
}
/* make inline in designation descriptions, new screen headings, and
   optionally in tbody, row with unblock class */
table.listing tbody p a, table.listing tbody div.subhead a,
table.listing tbody.unblock a, table.listing tr.unblock a {
  display: inline;
}

table.listing a.icon img {
  display: inline;
  float: left;
  margin-right: 0.3em;
}

/* __________________________ sidebar navigation _______ */

div.navigation {
  width: 250px;
  float: left;
  margin: 0 10px 0 0;
}

div.navigation table.listing th.top {
  color: #000;
  border-bottom: none;
  text-align: center;
}

div.navigation table.listing th.top img {
  vertical-align: bottom;
  padding: 0;
}

div.navigation table.listing th.subth {
  text-align: center;
}

/* _______ uplinks _______ */
div.navigation table.listing th.top a.top {
  display: block;
  float: left;
  width: 1.2em;
  padding: 0.2em 0 0;
}

div.navigation table.listing th a.up {
  display: block;
  float: right;
  width: 1.2em;
  padding: 0.2em 0 0;
}

div.navigation td.selected {
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: #eee;
  font-weight: bold;
}

div.navigation td.unselected:hover {
  color: #444;
  cursor: pointer;
}

/* _______ slidelinks _______ */
table.listing a.left {
  display: block;
  float: left;
  width: 8px;
  height: 16px;
}

table.listing a.right {
  display: block;
  float: right;
  width: 8px;
  height: 16px;
}

table.listing a.navicon {
  display: block;
  float: left;
  width: 19px;
  height: 100%;
}

table.listing a.left:hover {
  background-color: transparent;
  text-decoration: none;
}

table.listing a.right:hover {
  background-color: transparent;
  text-decoration: none;
}

div.normal {
  display: block;
}

/* ________________________________________________ form definitions _______ */
textarea {
  margin: 2px 0;
  padding: 2px 3px;
}
input.store, textarea.store, input.field, textarea.field {
  width: 99%;
}

table.listing td input[type="text"] {
  margin-top: 5px;
}

/* valid ie6 and ie7 hack */
*:first-child+html input.store, *:first-child+html input.field,
* html input.store, * html input.field,
*:first-child+html textarea.store, *:first-child+html textarea.field,
* html textarea.store, * html textarea.field {
  width: 97%;
}

td.element select.field, select.store {
  width: 100%;
}

/* ie7 valid css hack */
*:first-child+html select.store,
*:first-child+html select.field {
  width: 98%;
}

input[type="submit"] {
  overflow: visible;
  cursor: pointer;
}

/* _______ form labels _______ */

table.listing td label {
}
table.listing th label {
}

tr.controls label, tr.inter-controls label {
}


/* _______ field iterators _______ */

table.listing td.designator {
  padding: 0.5em 0.3em;
}
table.listing td.designator label {
  font-weight: bold;
}
table.listing td.designator span.matchlabel {
  font-weight: bold;
}
table.listing td.designator p, td.designator ul,
table.listing td.element p,
table.listing td.field p {
  margin: 0;
  color: #667;
}
table.listing tr:hover td.designator p,
table.listing tr:hover td.designator ul:hover,
table.listing tr:hover td.element p,
table.listing tr:hover td.field p {
  color: #333;
}
table.listing td.element,
table.listing td.field {
  padding: 0.5em 0.3em;
}

/* _______ subscreen parent links _______ */

table.listing td.parent {
  padding: 0;
  border: 1px solid #789;
  text-align: center;
  vertical-align: bottom;
}

table.listing td.parent a {
  color: #d9f3f1;
  text-decoration: none;
}
table.listing td.parent a:hover {
  color: #bfffd3;
  background-color: #53538b;
}
/* only used in lookup ui for back */
table.listing div.transport-border {
  padding-bottom: 1px;
  border: 1px solid #8faecf;
}
table.listing div.transport-border:hover {
  color: #bfffd3;
  background-color: #53538b;
}

input[type="radio"] {
  margin: 0 0.5em 0;
  width: auto;
  border: none;
}
input[type="checkbox"] {
  margin: 0 0.4em 0 0;
  width: auto;
  border: none;
}

div.multi-actions {
  margin: 0.5em 0 0 1.7em;
}
div.multi-actions input {
  text-transform: lowercase;
}
input[type="checkbox"] + input[type="hidden"] + input.field-textline {
  width: 94%; /* shortens field-textline when in a multi-actioned field */
}

table.listing td.element input[type="checkbox"] {
  margin: 0 0.4em 0.4em 0;
}
table.listing td.element input[type="radio"] {
  margin: 0.2em 0.2em 0.2em 0;
}


/* ________________________________________________ info + clipboard _______ */
div.info {
  padding: 0.2em 0.4em 0.3em;
  border: 1px solid #ccc;
  background-color: #fff;
}

div.info h3 {
  margin: 0.2em 0;
  font-weight: normal;
}

div.info h3 img {
  vertical-align: top;
}

div.info h4 {
  margin: 0.6em 0 0;
  font-size: 100%;
}

div.info p {
  margin: 0 0 0.3em;
}

div.info p img.icon {
  vertical-align: bottom;
}

div.info p span.orientation {
  display: block;
  margin-top: 0.3em;
  border: 1px dotted black;
  text-align: center;
}
div.info p span.portrait {
  width: 4.5em;
  height: 6em;
}
div.info p span.landscape {
  width: 6.5em;
  height: 3.5em;
}
div.info p span.square {
  width: 4em;
  height: 4em;
}

select.clipboard, select.clipboard:focus, select.clipboard:hover {
  width: 100%;
  max-width: 100%;
  margin-top: 0.1em;
  margin-bottom: -0.5em;
  border: 1px solid #909699;
  color: #373e42;;
  background: #cfdbe7;
  font-size: 90%;
  line-height: 96%;
}

select.clipboard option.disabled {
  color: #dbf3f6;
  background: #678;
}


/* ________________________________________________________ feedback _______ */

/* feedback under the matrix nav */
div.fixed-feedback {
  background-color: #D8EED5;
  border-bottom: 1px solid #0E7F2A;
  padding: 5px 15px 5px 15px;
  margin-bottom: 4px;
}
div.fixed-alert {
  background-color: #EFAAAA;
  border-bottom: 1px solid #C54D4B;
  padding: 5px 15px 5px 15px;
  margin-bottom: 4px;
}
div.fixed-clear {
  height: 0;
  padding: 5px 15px 5px 15px;
}

/* for notifications in right column */
td.right div.feedback {
  margin-top: 0;
}

/* floating feedback  */
div.feedback {
  position: relative; /* for IE6 peekaboo bug */
  border:1px solid #789;
  padding: 0.4em 0.7em 0.7em 0.7em;
  color: #555;
  background-color: #f3f3d9;
}
div.alert {
  border: 1px solid #789;
  padding: 0.4em 0.7em 0.7em 0.7em;
  color: #3c2d50;
  background-color: #f7d1d1;
}
div.feedback a {
  color: #000;
  text-decoration: underline;
}

/* table row/cell feedback  */
table.listing tr.feedback, table.listing td.feedback {
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  border-top: 1px solid #789;
}
table.listing tr.alert, table.listing td.alert {
  border-top: 1px solid #789;
  border-bottom: 1px solid #789;
}


/* _______ message box in content publish screen _______ */
table.listing .message {
  padding: 0;
}

table.listing div.message {
  padding: 0.2em 0.6em 0.2em 0.6em;
  border: 1px solid #557;
  border-style: solid none solid none;
  font-weight: normal;
}


/* ___________________________________________ Silva specific styles _______ */
img {
  border: none;
}

img.icon {
  margin: 0;
}

a.icon:hover {
  text-decoration: none;
}

/* _________________________________ align/float _______ */
.image-left {
  text-align: left;
}
.image-center {
  text-align: center;
}
.image-right {
  text-align: right;
}

.float-left {
  float: left;
  clear: none;
  margin-right: 1em;
}

.float-right {
  float: right;
  clear: none;
  margin-left: 1em;
}

/* _______________________________________ lists _______ */
dt {
  background: transparent;
}

dd {
  background: transparent;
  margin-left: 2.5em;
}

ul {
  margin: 0.2em 0 0 1.3em;;
  line-height: 130%;
}

ul.tips {
  list-style-type: square;
}

/* blacklink selectors */
a.blacklink {
  line-height: 16px;
}
a.blacklink:link {
  text-decoration: none;
}
a.blacklink:visited {
  text-decoration: none;
}
a.blacklink:hover {
  text-decoration: underline;
}

/* underline (blue) selectors */
a.underline:link {
  text-decoration: underline;
}

a.underline:visited {
  text-decoration: underline;
}

a.underline:hover {
  text-decoration: none;
}

/* highlighting index links */
a.index-element {
  background-color: #e9ff97;
  text-decoration: none;
}

/* draft (red) selectors */
.draft, a.draft {
  color: #cc0000;
}

/* pending (yellow) selectors */
.pending, a.pending {
  color: #8f7f01;
}

/* approved (green) selectors */
.approved, a.approved {
  color: #007746;
}

/* published (blue) selectors */
.published, a.published {
  color: #000080;
}

/* closed (gray) selectors */
.closed, a.closed {
  color: #666;
}

/* draft (red) selectors */
a.draft:link {
  color: #cc0000;
  text-decoration: none;
}
a.draft:visited {
  color: #cc0000;
  text-decoration: none;
}
a.draft:hover {
  color: #cc0000;
  text-decoration: underline;
}

/* pending (yellow) selectors */
a.pending:link {
  color: #8f7f01;
  text-decoration: none;
}
a.pending:visited {
  color: #8f7f01;
  text-decoration: none;
}
a.pending:hover {
  color: #8f7f01;
  text-decoration: underline;
}

/* approved (green) selectors */
a.approved:link {
  color: #007746;
  text-decoration: none;
}
a.approved:visited {
  color: #007746;
  text-decoration: none;
}
a.approved:hover {
  color: #007746;
  text-decoration: underline;
}

/* published (blue) selectors */
a.published:link {
  color: #000080;
  text-decoration: none;
}
a.published:visited {
  color: #000080;
  text-decoration: none;
}
a.published:hover {
  color: #000080;
  text-decoration: underline;
}

/* closed (gray) selectors */
a.closed:link {
  color: #666;
  text-decoration: none;
}
a.closed:visited {
  color: #666;
  text-decoration: none;
}
a.closed:hover {
  color: #666;
  text-decoration: underline;
}

/* ____________________________________________________ local styles _______ */
.hilite {
  background: #ebecef;
}

/* form datetime field punctuation */
.punctuation {
  font-family: impact, verdana, arial, helvetica, sans-serif;
  font-size: 15px;
}

span.required {
color: #cc0000;
  font-family: impact, verdana, arial, helvetica, sans-serif;
}

table.listing tr.controls td span.required {
  color: #c9dfe2;
}

.warning {
  color: #aa0000;
}

.error {
  color: #cc0000;
  background: transparent;
}

.fault {
  color: #ff1111;
}

.subhead {
  color: #333767;
  font-weight: bold;
  font-family: sans-serif;
}

.idea {
  color: #634d82;
}

/* defines the width of the text in help, etc */
.readable {
  line-height: 1.3em;
}

/* definitions for batching */
div.listingbar {
  width: 60em;
  margin: 2em 0;
}

div.listingbar .next {
  margin-left: 5em;
}

div.listingbar .previous {
  margin-right: 5em;
}

/* styles for the elaborate code source */
.elaborate fieldset {
  float: left;
  margin-bottom: 0.2em;
}

.elaborate input.button {
  float: left;
  clear: left;
  margin-left: 0.2em;
  margin-bottom: 0.3em;
}

/* styles for the dynamic reference lookup window (from
   kupustyles.css) so that this widget works outside of
   kupu */
button.kupu-button {
  height: 20px;
  padding: 0;
}

/* start reference lookup window styles */
.kupu-link-reference-table {
  width: 100%;
}

.kupu-link-reference-table td {
  white-space: nowrap;
}
.kupu-link-reference-table td.buttoncell {
  width: 21px;
  vertical-align: top;
  border-right: none;
  padding: 0;
}

.kupu-link-reference-table button.kupu-link-lookupbutton {
  background-image: url("system-search.png");
}
.kupu-link-reference-table button.kupu-link-editbutton {
  background-image: url("edit-find.png");
  display: none;
}

button.kupu-link-reference {
  width: 20px;
  margin-right: 1px;
  overflow: visible;
  background-color: transparent;
}
button.kupu-link-reference:hover {
  background-color: #b3d4bf;
}
/* end reference lookup window styles */

/* for the calendar button */
button.calendar-button {
  background: url("calendar.gif") no-repeat 3px -1px;
  margin-top: 2px;
  border: none;
}

.uptotop {
  float: left;
  clear: left;
  width: 16px
}

.jumtotop {
  float: right;
  clear: right;
  text-align: right;
  width: 16px
}

.idea-container {
  float: right;
  margin-right: 5px;
}

/* ______________________________________ Middlespace ____ */

.middlespace {
  padding: 0 8px;
}

/* ___ viewport ___ */

.viewport {
  margin: 0 10px 0 0;
  float: left;
  width: 720px;
}

.viewport-clear {
  clear: both;
}

.zeam-form span.footer-fields {
  line-height: 1.6em;
  float: right;
}

/* --- valid css hack for ie6 and ie7 that require fixed width on select */
*:first-child+html .zeam-form span.footer-fields select,
* html .zeam-form span.footer-fields select {
width: 130px;
float: right;
}

.zeam-form .footer-fields span.error {
  background-color: #f7d1d1;
  padding: 0.1em 0.5em;
  color: #a00;
}

.portlets {
  width: 250px;
  float: left;
}

/* jq ui widgets */

.ui-widget div.fixed-alert {
  padding: 0.2em 0.5em;
  border: 1px solid #778899;
  border-bottom: none;
  height: 16px;
}

.add-new-content-listing {
  padding: 0.2em 0.3em 0.3em;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 0 0 1em;
}

.add-new-content-listing p {
  padding: 0.2em;
}

.new-content-listing a {
  font-weight: bold;
}

.new-content-listing img {
  float: left;
  padding-right: 0.4em;
}

/* table less styling like tables */

h2.top {
  margin: 0;
  padding: 0 0.3em 0.3em;
}

h2.top img {
  float: left;
  padding-top: 0.2em;
  padding-right: 0.4em;
}

h3.top-controls {
  padding: 0 0.3em 0.2em;
  margin: 0 0 0.1em;
  line-height: 100%;
}


div.tabs a.left {
  display: none;
}
div.tabs a.right {
  display: none;
}

.ui-widget {
  font-family: inherit;
  font-size: inherit;
}

.controls a.link-popup-form {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  background-color: #777;
  padding: 3px 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.controls a.link-popup-form:hover {
  background-color: #666;
}

/* move cancel button to left and other to the right */
.controls input[type="submit"] {
  float: right;
}
.controls input[type="submit"].canceler {
  float: left;
}

/* rename form */
div.focus-rectangle table.listing {
  margin-left: 20px;
  width: 80%;
}
